// C O L O R S
$white: #ffffff;
$white-1: #eaf9ff;
$white-2: #ececec;
$Lgray: #5f676f;

$blue1: #1384c6; 
$blue2: #27aae2;
$blue3: #045d97;

$black-0: #000;
$black: #052131;
$black-1: #181818;
$black-footer: #1a1e21;

$green: #8fb81e;

$pink: #e0bfc6;
$a-accent: #dc3545;
$a-error: #c2185b;

$color-theme-1: #27aae2;
$color-theme-2: #1384c6;
$color-theme-3: #045d97;
$color-theme-4: #052f48;

// T R A N S I T I O N S
$transition: .5s cubic-bezier(0.4, 0, 0.2, 1);
$transition-2: .3s cubic-bezier(0.4, 0, 0.2, 1);
$transition-3: 275ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-4: 200ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-5: 150ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-button: 225ms cubic-bezier(0.4, 0, 0.2, 1);
$transition-slider: .3s cubic-bezier(0.4, 0, 0.2, 1);
$motion: 
    2s cubic-bezier(0.075, 0.82, 0.165, 1) opacity,
    2s cubic-bezier(0.075, 0.82, 0.165, 1) transform;

// O T H E R S
$navbar-height: 110px; // size from unvisible space ,because theres fixed navbar
$padding-top-content: 94px; // size from unvisible space ,because theres fixed navbar