#contact {
    .section-contact {
        padding: 80px 0;
        background: $color-theme-1;
        .container {
            .row {
                margin: 0 -10px;
                .col-12 {
                    padding: 10px;
                    @include align-middle();
                    .item {
                        width: 100%;
                        padding: 40px;
                        overflow: hidden;
                        box-shadow: 0 5px 10px 0 mix($black, transparent, 4);
                        border-radius: 10px;
                        background: $white-1;
                        .content-table {
                            //width: calc(100% - 40px);
                            margin-top: 20px;
                            & > div {
                                display: flex;
                                & > div {
                                    width: 50%;
                                    padding: .3rem 0;
                                    &:nth-child(1){
                                        font-weight: 900;
                                    }
                                }
                            }
                            &.schedule {
                                & > div > div {
                                    width: 100%;
                                    font-weight: normal;
                                }
                            }
                        }
                    }
                    &:nth-child(2) .item {
                        box-shadow: none;
                        color: $white;
                        background: transparent;
                    }
                }
            }
        }
    }
}