#footer {
    position: relative;
    clear: both;
    z-index: 1;
    color: $white;
    font-size: 14px;
    .wave {
        position: relative;
        padding-bottom: 40px;
        margin-bottom: -4px;
        &-1::before {
            content: '';
            position: absolute;
            bottom: 0px;
            left: 0;
            height: 44px;
            width: 100%;
            background: $color-theme-2;
        }
        .the-wave-1 {
            top: 0;
            left: 0;
            .the-wave-path {
                fill: $color-theme-2;
            }
        }
        .the-wave-2 {
            position: absolute;
            top: 40px;
            right: 0;
            .the-wave-path {
                fill: $color-theme-1;
            }
        }
    }
    &.grey {
        .wave-1 {
            background: $white-1;
        }
    }
    .top {
        position: relative;
        padding: 120px 0;
        padding-top: 40px;
        background: $color-theme-1;
        .container {
            position: relative;
            z-index: 3;
            .row {
                margin: 0 -10px;
                .col-12 {
                    padding: 0 10px;
                }
                @include media-breakpoint-down(md){
                    .col-12 {
                        margin-top: 40px;
                        &:nth-child(1), &:nth-child(2){
                            margin-top: 0;
                        }
                    }
                }
                @include media-breakpoint-down(xs){
                    margin: 0;
                    .col-12 {
                        padding: 0 30px;
                        &:nth-child(2){
                            margin-top: 40px;
                        }
                        .title {
                            font-size: 20px;
                        }
                    }
                }

                .title {
                    font-size: 18px;
                    font-weight: 600;
                }
                .content {
                    margin-top: 10px;
                }
                .paginas, .diesten {
                    .content {
                        ul {
                            padding: 0;
                            margin: 0;
                            li {
                                list-style: none;
                                margin-top: 10px;
                                a {
                                    &:hover, &:focus {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
                .contact {
                    .item {
                        margin-top: 10px;
                    }
                }
                .opening {
                    .item {
                        margin-top: 5px;
                    }
                }
            }
        }
    }

    .bottom {
        position: relative;
        color: $white;
        background: $color-theme-4;

        .the-wave-1 {
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(calc(-100% + 4px));
            .the-wave-path {
                fill: $color-theme-4;
            }
        }
        
        .jump-to-top {
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translate(-50%,-50%) rotate(-90deg);
            z-index: 3;
            display: block;
            height: 50px;
            width: 50px;
            @include media-breakpoint-down(lg){
                top: -30px;
            }
            @include media-breakpoint-down(md){
                top: -25px;
            }
            @include media-breakpoint-down(sm){
                top: -20px;
            }
            @include media-breakpoint-down(xs){
                top: -15px;
            }
            @media screen and(max-width: 400px) {
                top: -10px;   
            }
            .icon {
                font-size: 20px;
            }
        }

        .container {
            padding-top: 40px;
            padding-bottom: 40px;
            &.socmed {
                padding-top: 0px;
                padding-bottom: 0px;
                @include media-breakpoint-down(xs){
                    padding-top: 20px;
                }
            }
        }
        .container {
            @include align-middle();
            justify-content: space-between;
            color: $white;

            &.socmed {
                justify-content: flex-start;
                .wrapper {
                    margin: 0 -6px;
                    @include align-middle();
                    .btn {
                        height: 40px;
                        width: 40px;
                        margin: 0 6px;
                        padding: 0;
                        @include align-middle();
                        justify-content: center;
                        & > * {
                            font-size: 20px;
                            color: $color-theme-4;
                        }
                    }
                }
            }

            &.copyright {
                @include media-breakpoint-down(sm){
                    display: block;
                }
            }
        }
    }                      
}