#homepage {
    word-wrap: break-word;
    .section {
        position: relative;
    }

    .section-1 {
        min-height: 120vh;
        $slick-loading-transition: $transition-5;
        .slick-loading {
            position: absolute;
            z-index: 1;
            top: 50vh;
            left: 50%;
            opacity: 1;
            transition: $slick-loading-transition;
            transform: translate(-50%, -50%);
            font-size: 20px;
            font-weight: 200;
            pointer-events: none;
            color: $color-theme-1;
            
        }
        .container {
            position: relative;
            z-index: 3;
            opacity: 0;
            transition: $slick-loading-transition;
            .left {
                min-height: 100vh;
                width: 50%;
                @include align-middle();
                padding: 80px 0;
                display: none;
                .slick-slider {
                    width: 100%;
                    
                    // there should be gap, for button box-shadow
                    margin: 0 -10px;
                    .slick-list {
                        padding: 0 10px;
                        .slick-track {
                            @include align-middle();
                        }
                    }
                }
                .content-set {
                    .title {
                        line-height: 1.3;
                        font-size: 40px;
                        @include media-breakpoint-down(xs){
                            font-size: 30px;
                        }
                    }
                    .content {
                        margin-top: 10px;
                        font-style: italic;
                        font-weight: 200;
                    }
                    .btn {
                        margin-top: 40px;
                    }
                }
                .dots {
                    position: absolute;
                    bottom: 60px;
                    @include align-middle();
                    @include media-breakpoint-down(xs){
                        bottom: 20px;
                    }
                    button {
                        position: relative;
                        width: 12px;
                        height: 12px;
                        margin: 2px;
                        padding: 0;
                        background: transparent;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 6px;
                            width: 6px;
                            top: 50%;
                            left: 50%;
                            transition: $transition-5;
                            transform: translate(-50%,-50%);
                            border-radius: 50%;
                            border: 1px solid $black;
                        }
                        &:focus, &:hover {
                            box-shadow: none;
                        }
                        &.active {
                            &::after {
                                width: 12px;
                                height: 12px;
                            }
                        }
                    }
                }
            }
        }
        .right {
            position: absolute;
            height: 100%;
            width: 60%;
            top: 0;
            right: 0;
            z-index: 2;
            opacity: 0;
            transition: $slick-loading-transition;
            .test-img {
                position: absolute;
                width: auto;
                max-width: 100%;
                height: 100%;
                right: 0;
                object-fit: contain;
            }
            svg {
                position: absolute;
                height: 100%;
                width: auto;
                top: 0;
                right: 0;
                .overlay {
                    fill: #38b6ff;
                }
            }
        }
        @include media-breakpoint-down(md){
            min-height: 100vh;
            .container .left {
                width: 70%;
            }
            .right{
                height: 100%;
            }
        }
        @include media-breakpoint-down(xs){
            padding-top: 80px;
            .container .left {
                width: 100%;
                min-height: 0;
                padding-top: 20px;
            }
            .right {
                position: relative;
                height: 60vh;
                width: 100%;
            }
        }
        &.slider-loaded {
            .container .left {
                display: flex;
            }
            .container, .right {
                opacity: 1;
            }
            .slick-loading {
                opacity: 0;
            }
        }
    }

    .section-3 {
        padding: calc(40px + 1rem) 0;
        color: $white;
        background: $color-theme-1;
        .container {
            opacity: 0;
            transition: $transition-5;
            & > .row {
                margin-top: 40px;
                .column-row {
                    & .row {
                        margin-left: -15px;
                        margin-right: -15px;
                        @include media-breakpoint-down(xs){
                            margin-right: -5px;
                            margin-left: -5px;
                        }
                        @media screen and (max-width: 400px){
                            display: block;
                            .col-6 {
                                max-width: 100%;
                                width: 100%;
                                margin: auto;
                            }
                        }
                    }
                    .col-6 {
                        padding: 15px;
                        @include media-breakpoint-down(xs){
                            padding: 5px;
                        }
                        .item {
                            height: 100%;
                            padding: 30px 0;
                            border-radius: 5px;
                            color: $black;
                            background: $white;
                            .title {
                                text-align: center;
                                font-weight: 600;
                                font-size: 18px;
                            }
                            .photo {
                                height: 180px;
                                width: 180px;
                                margin: 20px auto 0 auto;
                                border-radius: 50%;
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                @include media-breakpoint-down(xs){
                                    height: 140px;
                                    width: 140px;
                                }
                            }
                        }
                    }
                }
                .column-content {
                    padding: 20px 40px;
                    padding-right: 0px;
                    @include media-breakpoint-down(md){
                        padding-left: 0;
                    }
                    .title {
                        font-size: 18px;
                        font-weight: 600;
                    }
                    .content {
                        margin-top: 10px;
                        ul {
                            margin: 0;
                            padding: 0;
                            padding-left: 20px;
                            li {
                                margin-top: 10px;
                            }
                        }
                    }
                    .wrapper-button {
                        position: relative;
                        margin-top: 60px;
                        display: flex;
                        .slick-slider {
                            width: calc(100% - ( 39px * 2 ) - (6px * 4));
                        }
                        .btn {
                            margin: 6px; // we need margin Y for box-shadow room
                            display: block;
                        }
                        .prev, .next {
                            width: 39px;
                            flex-shrink: 0;
                            padding: 0;
                            text-align: center;
                        }
                    }
                }
            }
        }
        &.slider-loaded {
            .container {
                opacity: 1;
            }
        }
    }

    $section-4-bg: $white-1;
    .section-4 {
        background: $section-4-bg;
        padding: 80px 0;
        .container {
            .timeline {
                position: relative;
                min-height: 100vh;
                margin-top: 20px;
                .line {
                    position: absolute;
                    width: 4px;
                    height: calc(100% + 2px);
                    left: 50%;
                    top: 0;
                    transform: translateX(-50%);
                    background: $color-theme-1;
                    @include media-breakpoint-down(md){
                        width: 2px;
                    }
                    &::after, &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 200px;
                        width: 100%;
                        background: linear-gradient($white-1, transparent);
                    }
                    &::before { width: 200%;left: -25%; }
                    &::after {
                        top: auto;
                        bottom: 0;
                        height: 250px;
                        background: linear-gradient($color-theme-1, #{mix($black, $color-theme-1, 80)});
                    }
                }
                .items {
                    position: relative;
                    padding: 80px 0;
                    counter-reset: items-counter;

                    // Here all the pixel
                    $translateY-before: 60px; // when element invisible
                    $translateY-after: 0px; // when element visible
                    $translateX-odd: calc(0px - 100% - 80px);
                    $translateX-even: 80px;

                    .item {
                        position: relative;
                        width: 400px;
                        max-width: calc(50% - 80px);
                        padding: 20px;
                        left: 50%;
                        transform: translate($translateX-even, $translateY-before);
                        opacity: 0;
                        transition: $transition-3;
                        border-radius: 5px;
                        background: $white;
                        @mixin whiteArrow-mobile() {
                            top: 0;
                            right: auto;
                            left: 50%;
                            transform: translate(-50%, -100%);
                            border: 14px solid transparent;
                            border-bottom: 14px solid $white;
                        }
                        @mixin whiteDots-mobile() {
                            height: 10px;
                            width: 10px;
                            top: 0%;
                            left: 50%;
                            transform: translate(-50%, calc(-28px));
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            height: 22px;
                            width: 22px;
                            top: 44px;
                            left: -80px;
                            transform: translate(-50%, -50%);
                            border-radius: 50%;
                            border: 3px solid $black;
                            background: $white;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            top: 44px;
                            left: 0px;
                            transform: translate(-100%, -50%);
                            border: 14px solid transparent;
                            border-right: 14px solid $white;
                        }

                        // The another side
                        &:nth-child(odd){
                            transform: translate($translateX-odd, $translateY-before);
                            &::after {
                                left: auto;
                                right: -80px;
                                transform: translate(50%, -50%);
                            }
                            &::before {
                                left: auto;
                                right: 0px;
                                transform: translate(100%, -50%);
                                border: 14px solid transparent;
                                border-left: 14px solid $white;
                            }
                        }

                        &.visible {
                            opacity: 1;
                            transform: translate(80px, 0px);
                            &:nth-child(odd) {
                                transform: translate(calc(0px - 100% - 80px), 0px);
                            }
                        }

                        .title {
                            position: relative;
                            padding-bottom: 10px;
                            font-size: 18px;
                            font-weight: 600;
                            border-bottom: 1px solid mix($black, transparent, 10);
                            @include align-middle();
                            &::before {
                                content: counter(items-counter);
                                counter-increment: items-counter;
                                height: 40px;
                                width: 40px;
                                flex-shrink: 0;
                                margin-right: 10px;
                                @include align-middle();
                                justify-content: center;
                                font-size: 22px;
                                border: 1px solid $black;
                                border-radius: 50%;
                            }
                        }
                        .content {
                            margin-top: 10px;
                        }
                        @include media-breakpoint-down(md){
                            width: 500px;
                            max-width: 100%;
                            right: 0;
                            left: 50%;
                            transform: translate(-50%, $translateY-before);
                            margin-top: 60px;
                            &:nth-child(1){
                                margin-top: 20px;
                            }
                            &::after {
                                @include whiteDots-mobile();
                            }
                            &::before {
                                @include whiteArrow-mobile();
                            }
                            &:nth-child(odd){
                                transform: translate(-50%, $translateY-before);
                                &::before {
                                    @include whiteArrow-mobile();
                                }
                                &::after {
                                    @include whiteDots-mobile();
                                }
                            }

                            &.visible {
                                opacity: 1;
                                transform: translate(-50%, $translateY-after);
                                &:nth-child(odd) {
                                    transform: translate(-50%, $translateY-after);
                                }
                            }

                        }
                    }
                }
            }
            .end-button {
                width: fit-content;
                padding: 10px;
                margin: auto;
                border-radius: 100px;
                border: 4px solid mix($black, $color-theme-1, 80);
                .btn {
                    padding: 14px 30px;
                    b {
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .section-5 {
        position: relative;
        min-height: 50vh;
        padding: 200px 0;
        @include align-middle();
        background: $section-4-bg url('./src/img/thumbnail_example.png') no-repeat center / cover;
        &::after {
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            opacity: .7;
            background: #03345f;
        }
        .the-wave {
            position: absolute;
            top: -2px;
            right: 0;
            z-index: 2;
            transform: rotate(180deg);
            .the-wave-path {
                fill: $section-4-bg;
            }
        }
        .container {
            position: relative;
            z-index: 3;
            text-align: center;
            color: $white;
            .btn.play-video {
                position: relative;
                height: 70px;
                width: 70px;
                margin-top: 50px;
                border: 3px solid $white;
                background: url('./src/icons/play-button.svg') no-repeat center / 80% auto;
                &::after {
                    content: attr(data-text);
                    position: absolute;
                    width: 100px;
                    top: 100%;
                    left: 50%;
                    letter-spacing: .4px;
                    font-weight: 200;
                    transform: translate(-50%, 20px);
                }
            }
        }
    }

    .section-5-popup {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 9;
        opacity: 0;
        transition: $transition-2;
        pointer-events: none;
        @include align-middle();
        justify-content: center;
        flex-wrap: wrap;
        background: #000000;
        &.active {
            opacity: 1;
            pointer-events: all;
        }
        .wrapper {
            height: calc(100% - 60px);
            width: calc(100% - 60px);
            @media screen and (min-width: 1200px) {
                max-width: 1200px;
            }
            @media screen and (min-width: 1800px) {
                max-width: 1800px;
            }
        }
        iframe {
            width: 100%;
            height: calc(100% - 60px);
        }
        .btn {
            margin: 20px;
            margin-top: 0;
            margin-right: 0px;
            margin-left: auto;
            flex-shrink: 0;
            svg {
                height: 14px;
                width: 14px;
            }
        }
    }

    .section-6 {
        position: relative;
        margin: 80px 0;
        .container {
            & > .row {
                margin-top: 1rem;
                @include media-breakpoint-up(md){
                    margin-top: 2rem;
                }
                @media screen and(min-width: 1400px){
                    margin-top: 6rem;
                }
            }
            .left {
                position: relative;
                .the-img {
                    position: absolute;
                    height: auto;
                    max-height: 100%;
                    width: calc(50vw - 50px);
                    object-fit: contain;
                    object-position: right;
                    right: 50px;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
            
            .row-content {
                padding: 80px 0;
                padding-left: 40px;
                .title {
                    font-size: 16px;
                    font-weight: 600;
                }
                .content {
                    margin-top: 20px;
                    ul {
                        padding: 0;
                        margin: 0;
                        li {
                            position: relative;
                            list-style: none;
                            margin-top: 10px;
                            &::before {
                                content: "";
                                position: absolute;
                                height: 4px;
                                width: 4px;
                                top: 8px;
                                display: block;
                                margin-left: -1em;
                                border-radius: 50%;
                                background: $color-theme-1;
                            }
                        }
                    }
                }
            }
        
        }
        @include media-breakpoint-down(sm){
            .container {
                .left {
                    .the-img {
                        position: relative;
                        height: 300px;
                        max-height: auto;
                        width: auto;
                        max-width: 100%;
                        object-position: center;
                        top: 0;
                        left: 50%;
                        right: auto;
                        margin: 40px 0;
                        transform: translateX(-50%);
                    }
                }
                .row-content {
                    padding: 0;
                    margin-top: 20px;
                    .content ul {
                        padding-left: 20px;
                    }
                }
            }
        }
    }

}