#landing {
    .title {
        b {
            font-weight: 600;
        }
    }
    .section.full-thumbnail {
        .the-wave-path {
            fill: $white-1;
        }
    }
    .section.section-simple-content {
        margin: 0;
        padding: 80px 0;
        background: $white-1;
    }
    .section.landing-point {
        padding: 100px 0;
        .the-wave {
            position: absolute;
            top: 0;
            left: 0;
            transform: rotate(180deg);
            .the-wave-path {
                fill: $white-1;
            }
        }
        .container {
            .row {
                .col-12:nth-child(1){
                    padding-right: 10px;
                    .item {
                        height: 100%;
                        padding: 40px;
                        @include align-middle();
                        border-radius: 10px;
                        color: $white;
                        background: $color-theme-1;
                    }
                }
                .col-12:nth-child(2) {
                    padding: 20px 0;
                    padding-left: 10px;
                    padding-top: calc(20px - 10px); // 10px = li margin-top
                    ul {
                        padding: 0;
                        margin: 0;
                        clear: both;
                        column-count: 2;
                        column-fill: initial;
                        list-style-position: inside;
                        li {
                            position: relative;
                            margin-top: 10px;
                            padding-left: 20px;
                            list-style: none;
                            display: inline-block;
                            page-break-inside: avoid;
                            &::before {
                                content: "";
                                position: absolute;
                                height: 4px;
                                width: 4px;
                                top: 10px;
                                left: 10px;
                                transform: translate(-50%,-50%);
                                border-radius: 50%;
                                background: $color-theme-1;
                            }
                        }
                    }
                }
                @include media-breakpoint-down(md){
                    .col-12 {
                        &:nth-child(1){
                            padding-right: 0;
                        }
                        &:nth-child(2){
                            padding-top: calc(40px - 10px);
                            padding-left: 0;
                        }
                    }
                }
                @include media-breakpoint-down(xs){
                    .col-12:nth-child(2){
                        .item {
                            ul {
                                column-count: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    .section.landing-versus {
        padding: 80px 0;
        color: $white;
        background: $color-theme-1;
        .versus {
            margin-top: 40px;
            .point {
                position: relative;
                display: flex;
                margin-top: 20px;
                .logo {
                    position: absolute;
                    height: 60px;
                    width: 60px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    font-size: 20px;
                    @include align-middle();
                    justify-content: center;
                    border-radius: 50%;
                    background: mix($white, transparent, 8);
                }
                .item {
                    width: 50%;
                    .box {
                        position: relative;
                        height: 100%;
                        width: fit-content;
                        padding: 20px;
                        padding-right: 30px;
                        margin-right: 50px;
                        margin-left: auto;
                        text-align: right;
                        border-radius: 10px;
                        color: $black;
                        background: $white;
                        &::after {
                            content: "";
                            position: absolute;
                            height: 20px;
                            width: 20px;
                            top: 50%;
                            left: 100%;
                            transform: translate(-50%,-50%);
                            border-radius: 50%;
                            border: 6px solid $color-theme-1;
                            background: $black;
                        }
                    }
                    &:nth-child(odd){
                        .box {
                            margin-right: auto;
                            margin-left: 50px;
                            padding: 20px;
                            padding-left: 30px;
                            text-align: left;
                            &::after {
                                left: 0%;
                            }
                        }
                    }
                }
                &:nth-child(even){
                    .item {
                        .box {
                            min-width: 180px;
                        }
                    }
                }
            }
            @include media-breakpoint-down(xs){
                position: relative;
                width: 100vw;
                left: 50%;
                transform: translateX(-50%);
                .point {
                    margin-top: 40px;
                    .logo {
                        height: 30px;
                        width: 30px;
                        top: 0;
                        z-index: 3;
                        background: $color-theme-1;
                    }
                    .item {
                        padding: 0;
                        &::after {
                            content: none;
                        }
                        .box {
                            width: 100%;
                            margin: 0;
                            border-radius: 0;
                            &::after {
                                content: none;
                            }
                        }
                        &:nth-child(odd){
                            .box {
                                margin: 0;
                                background: mix($white, $color-theme-1, 80);
                            }
                        }
                    }
                    &:nth-child(even) .item .box {
                        min-width: 0;
                    }
                    
                }
            }
        }
        .bottom {
            margin-top: 40px;
            .button-wrapper {
                margin-top: 20px;
                @include align-middle();
                justify-content: center;
                & > * {
                    margin: 0 10px;
                }
                @include media-breakpoint-down(xs){
                    flex-direction: column;
                    & > * {
                        margin: 0;
                        margin-top: 10px;
                    }
                    .hide {
                        display: none;
                    }
                }
            }
        }
    }
}