#page-404 {
    .section {
        display: flex;
        align-items: center;
        //min-height: calc(100vh - #{$navbar-height});
        overflow: hidden;
        .container {
            display: flex;
            justify-content: center;
            padding: 40px 0 100px 0;
            iframe {
                height: 260px!important;
                margin-bottom: 40px;
            }
            .btn {
                margin-top: 20px;
            }
        }
    }
}