#privacy {
    
    .section.header-privacy {
        min-height: 300px;
        padding: 80px 0;
        @include align-middle();
        color: $white;
        background: $color-theme-1;
        .container {
            .content-set {
                text-align: center;
            }
        }
    }
}