#tarieven {
    .section-price-list {
        padding: 80px 0;
        background: $white-1;
        .container {
            .content-set {
                text-align: center;
            }
            .row {
                margin: 0 -15px;
                margin-top: 80px;
                .col-12 {
                    padding: 15px;
                    .item {
                        overflow: hidden;
                        border-radius: 10px;
                        box-shadow: 0 5px 10px 0 mix($black, transparent, 4);
                        background: $white;
                        .header {
                            padding: 20px 20px;
                            font-size: 22px;
                            font-weight: 200;
                            color: $white;
                            background: $color-theme-1;
                        }
                        .price-list {
                            padding: 20px 0;
                            .price-item {
                                position: relative;
                                padding: 10px 20px;
                                border-bottom: 1px solid mix($black, transparent, 8);
                                &:nth-last-child(1){
                                    border-bottom: 0;
                                }
                            }
                            .name {
                                position: relative;
                                margin-bottom: 10px;
                                font-size: 18px;
                                font-weight: 900;
                            }
                            .price {
                                margin: 6px 0;
                                display: flex;
                                justify-content: space-between;
                                opacity: .9;
                                &.group {
                                    span:nth-child(2){
                                        padding: 0 10px;
                                        border-radius: 10px;
                                        color: $white;
                                        background: $black;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}