.the-wave {
    width: 100%;
    height: 80px;
    @include media-breakpoint-down(lg){
        height: 60px;
    }
    @include media-breakpoint-down(md){
        height: 50px;
    }
    @include media-breakpoint-down(sm){
        height: 40px;
    }
    @include media-breakpoint-down(xs){
        height: 30px;
    }
    @media screen and(max-width: 400px) {
        height: 20px;   
    }
}