<div class="row form-contact">
    <div class="col-12 col-md-6">
        <div class="input">
            <label>Uw naam</label>
            [text* naam placeholder"naam"]
        </div>

        <div class="input">
            <label>Uw telefoonnummer</label>
            [tel* telefoonnummer placeholder"telefoon"]
        </div>
    </div>

    <div class="col-12 col-md-6">
        <div class="input">
            <label>Uw e-mail</label>
            [email* e-mail placeholder"email"]
        </div>

        <div class="input">
            <label>Uw reserveringsnummer</label>
            [text reserveringsnummer placeholder"reserveringsnummer"]
        </div>
    </div>

    <div class="col-12 col-md-12">
        <div class="input">
            <label>Uw bericht</label>
            [textarea* opmerking placeholder"bericht"]
        </div>

        [submit class:btn "Verzenden"]
    </div>
    
    <div class="alert alert-danger" role="alert" style="margin-top: 20px;">
        "Houd er rekening mee dat e-mails vanuit ons formulier in uw spam mailbox terecht kunnen komen.
        Controleer dus ook altijd even uw spam mailbox." 
    </div>
</div>