@mixin button-style {
    min-height: 40px;
    width: fit-content;
    padding: 8px 40px;
    transition: $transition-button;
    outline: none;
    cursor: pointer;
    font-weight: 200;
    border: none;
    border-radius: 50px;
    color: $white;
    background: $color-theme-1;
    &:hover, &:focus {
        outline: none;
        color: $white;
        box-shadow: 0 0 0 3px mix($color-theme-1, transparent, 40);
        //background: mix($color-theme-1, $black, 70);
    }
    &.white {
        color: $black;
        background: $white;
        &:hover, &:focus {
            box-shadow: 0 0 0 3px mix($white, transparent, 40);
            background: mix($white, $black, 95);
        }
    }
    &.black {
        color: $white;
        background: $black;
        &:hover, &:focus {
            box-shadow: 0 0 0 3px mix($black, transparent, 40);
        }
        &-2 {
            color: $white;
            background: mix($black, transparent, 30);
            &:hover, &:focus {
                box-shadow: 0 0 0 3px mix($black, transparent, 40);
                background: mix($black, transparent, 60);
            }
        }
    }
    &.outline {
        border: 1px solid $color-theme-1;
        color: $color-theme-1;
        background: transparent; 
        &:hover, &:focus {
            color: $white;
            background: $color-theme-1;
            box-shadow: 0 0 0 3px mix($color-theme-1, transparent, 40);
        }
        &.black {
            border: 1px solid $black;
            color: $black;
            &:hover, &:focus {
                color: $white;
                background: $black;
                box-shadow: 0 0 0 3px mix($black, transparent, 40);
            }
        }
        &.white {
            border: 1px solid $white;
            color: $white;
            &:hover, &:focus {
                color: $black;
                background: $white;
                box-shadow: 0 0 0 3px mix($white, transparent, 40);
            }
        }
    }
    &.circle {
        width: 40px;
        height: 40px;
        padding: 0px;
        @include align-middle();
        justify-content: center;
        border-radius: 50%;
        svg {
            margin: 0;
        }
    }
}
button, .btn {
    @include button-style();
    .icon {
        margin-left: 10px;
    }
    &.jumbo {
        font-size: 20px;
    }
}