
    .content-set {
        & > *:nth-child(1){
            margin-top: 0px!important;
        }
        .title {
            position: relative;
            margin-top: 20px;
            margin-bottom: 0;
            font-size: 36px;
            font-weight: 200;
            line-height: 1.3;
            b, strong {
                font-weight: 600;
            }
            @include media-breakpoint-down(sm){
                font-size: 28px;
            }
        }
        &.archive {
            .title {
                margin-top: 0;
            }
        }
        .content {
            margin-top: 20px;
            font-size: inherit;
            line-height: inherit;
            a {
                text-decoration: underline;
                font-weight: bold;
            }
            .btn {
                display: block;
                margin-top: calc(20px + 30px);
                font-weight: 200;
                text-decoration: none;
            }
        }
        &.white {
            .title-custom {
                color: $white;
                &::before {
                    background: $white;
                }
            }
        }
        &.centered {
            margin: auto;
            text-align: center;
            .title-custom {
                justify-content: center;
            }
            .content {
                .btn {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }