
        #the-content {
            .form-contact {
                .col-12:nth-child(1){
                    padding-right: 10px;
                }
                .col-12:nth-child(2){
                    padding-left: 10px;
                }
                @include media-breakpoint-down(sm){
                    .col-12:nth-child(1){
                        padding-right: 0px;
                    }
                    .col-12:nth-child(2){
                        padding-left: 0px;
                    }
                }
                p {
                    margin: 0;
                    padding: 0;
                }
            }
            form {
                //width: 400px;
                max-width: 100%;
                justify-content: center;
                p {
                    padding: 0px;
                }
                .input {
                    position: relative;
                    width: 100%;
                    margin-top: 30px;
                    label {
                        position: relative;
                        padding-left: 30px;
                        font-weight: bold;
                        &::before {
                            content: "";
                            position: absolute;
                            height: 4px;
                            width: 4px;
                            top: 50%;
                            left: 10px;
                            transform: translateY(-50%);
                            border-radius: 50%;
                            background: $color-theme-1;
                        }
                    }
                    input[type="text"],input[type="number"],input[type="email"],input[type="tel"],input[type="date"],select,textarea{
                        width: 100%;
                        height: 50px;
                        padding: 0 30px;
                        transition: $transition-5;
                        box-shadow: 0 0 0 2px transparent;
                        border-radius: 25px;
                        background: $white-1;
                        &::placeholder { //Pinn,, ini buat miring in place holder di nieuwsbrief. tapi failed. wkwk. ini malah yg di contact form yg miring
                            font-style: italic; 
                        }
                        &:hover, &:focus {
                            box-shadow: 0 0 0 2px $color-theme-1;
                        }
                    }
                    textarea {
                        height: 150px;
                        resize: none;
                        padding-top: 20px;
                        padding-bottom: 20px;
                        border-radius: 10px;
                    }

                    // Error text
                    .wpcf7-not-valid-tip {
                        font-size: 12px;
                        margin: 5px 0;
                        padding: 0 30px;
                        color: $a-error;
                    }
                }
                div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {   
                    position: relative;
                    padding: 10px 20px;
                    margin: 0;
                    text-align: center;
                    border: 0;
                    color: $white;
                    background: $a-error;
                    &::before {
                        position: absolute;
                        content: "";
                        height: 100%;
                        width: 4px;
                        top: 0;
                        left: 0;
                        background: $a-error;
                    }
                }
                .btn {
                    padding: 10px 30px;
                    margin-top: 20px;
                }
                div.wpcf7-response-output {
                    margin-bottom: 0;
                }
                .g-recaptcha {
                    margin-top: 20px;
                }
                & .col-md-6 .input:nth-child(1) {
                    margin-top: 10px;
                }
            }
        }