/* Navigation  */
#the-navbar {
    position: fixed;
    height: 110px;
    width: 100%;
    top: 0;
    left: 0;
    padding: 20px 0;
    z-index: 9;
    transition: $transition-5;
    .scrolled {
        background: $white;
    }
    .container {
        position: relative;
        height: 100%;
        @include align-middle();
        justify-content: space-between;
        .left {
            position: relative;
            height: 100%;
            img {
                position: relative;
                height: 100%;
                width: auto!important;
            }
        }
        .right {
            @include align-middle();
            .hide {
                margin-right: calc(15px + 40px + 20px);
                @include media-breakpoint-down(md){
                    display: none;
                }
                span {
                    &::before {
                        content: "-";
                        display: inline;
                        margin: 0 6px;
                    }
                    &:nth-child(1)::before { content: none;}
                    b {
                        font-weight: 600;
                    }
                }
            }

            .nav-box {
                position: absolute;
                width: 320px;
                max-width: calc(100vw - (15px * 2) - (20px * 2));
                // Prevent overloaded navbar
                overflow-y: auto;
                max-height: calc(100vh - 60px); // 60px & 20px = padding top & bottom, 50px = just a space to the viewport
                // --
                top: 0%;
                right: 0px;
                opacity: 0;
                transition: opacity $transition;
                pointer-events: none;
                //transform: translateY(-20px);
                padding: 60px 20px 20px 20px;
                font-size: 16px;
                text-align: left;
                border-radius: 20px;
                background: $white;
                b {
                    font-weight: 900;
                }
                ul {
                    width: 100%;
                    padding: 0;
                    margin: 0;
                    font-weight: normal;
                    li {
                        position: relative;
                        width: 100%;
                        list-style: none;
                        a {
                            position: static;
                            display: block;
                            padding: 4px 0;
                            padding-left: 0;
                            padding-right: 16px;
                            transition: $transition-4;
                            &::before {
                                content: "";
                                position: absolute;
                                width: 0px;
                                height: 0px;
                                top: 16px;
                                left: 0;
                                transform: translateY(-50%);
                                transition: $transition-4;
                                border-radius: 50%;
                                background: $color-theme-1;
                            }
                            &:hover, &:focus-within {
                                padding-left: 16px;
                                padding-right: 0;
                                &::before {
                                    width: 6px;
                                    height: 6px;
                                }
                            }
                        }
                        &.current_page_item, &.current-menu-parent {
                            & > a {
                                padding-left: 16px;
                                padding-right: 0;
                                &::before {
                                    width: 6px;
                                    height: 6px;
                                }
                            }
                        }
                    }
                }
                .sub-menu-wrapper {
                    position: relative;
                    overflow: hidden;
                    height: 0px;
                    transition: $transition-5;
                }
                .sub-menu {
                    width: 100%;
                    margin: 10px 0;
                    padding-left: 20px;
                    font-size: .85em;
                    border: 1px solid $color-theme-1;
                    border-radius: 10px;
                    background: $white-1;
                    li {
                        a {
                            padding-top: 8px;
                            padding-bottom: 8px;
                        }
                        a::before {
                            top: 18px;
                        }
                    }
                }
                .navbar-nav > li.menu-item-has-children {
                    & > a {
                        &::after {
                            position: relative;
                            display: inline-block;
                            content: "";
                            height: 10px;
                            width: 10px;
                            border: 0px;
                            transition: $transition-5;
                            margin-left: 10px;
                            transform: rotate(180deg);
                            background-image: url('./src/icons/arrow.svg');
                            background-size: contain;
                            background-position: center;
                        }
                    }
                    &.sub-active > a::after {
                        transform: rotate(90deg);
                    }
                }

                .bottom {
                    position: relative;
                    width: 100%;
                    margin-top: 10px;
                    padding-top: 10px;
                    &::before {
                        position: absolute;
                        content: "";
                        top: 0;
                        left: 0;
                        width: 100%;
                        opacity: .1;
                        border-bottom: 1px solid $black;
                    }
                    .contact {
                        font-size: 12px;
                        font-weight: normal;
                        div {
                            margin-top: 6px;
                            &:nth-child(1){
                                margin-top: 0;
                            }
                        }
                    }
                    .socmed {
                        margin: 0 -5px;
                        margin-top: 10px;
                        color: $white;
                        @include align-middle();
                        .btn {
                            margin: 5px;
                        }
                    }
                }
            }

            .nav-close {
                position: absolute;
                top: 10px;
                right: 10px;
                z-index: 3;
                opacity: 0;
                pointer-events: none;
                transition: $transition;
                svg {
                    height: 14px;
                    width: 14px;
                }
            }

            .nav-button {
                position: absolute;
                width: 40px;
                height: 40px;
                top: 50%;
                right: 15px;
                overflow: hidden;
                z-index: 99;
                transform: translateY(-20px);
                //transition: $transition, height 2s ease, width 2s ease;
                padding: 0;
                .open-menu {
                    position: absolute;
                    height: 40px;
                    width: 40px;
                    top: 0;
                    right: 0;
                    @include align-middle;
                    justify-content: center;
                    transition: $transition;
                }
                .icon-menu-open {
                    position: relative;
                    height: 20px;
                    width: 20px;
                    z-index: 2;
                    transition: $transition;
                }
                &.active {
                    border-radius: 20px;
                    cursor: default;
                    &:focus, &:hover {
                        box-shadow: none;
                        background: $white;
                    }
                    .open-menu {
                        transform: scale(0);
                        //right: -100%;
                    }
                    .icon-menu-open {
                        pointer-events: none;
                        opacity: 0;
                    }
                    .nav-box, .nav-close {
                        opacity: 1;
                        pointer-events: all;
                    }
                }
            }

            .blocking {
                position: absolute;
                height: 100vh;
                width: 100vw;
                top: 0;
                left: 50%;
                transform: translate(-50%, -20px); //20px = padding-top .container
                cursor: pointer;
                opacity: 0;
                transition: $transition;
                pointer-events: none;
                background: mix($black, transparent, 70);
                &.active {
                    pointer-events: all;
                    opacity: 1;
                }
            }
        }
    }
    &.white {
        height: 80px;
        background: $white;
    }
} /* END : Navigation*/

#wpadminbar {
    display: none;
}