    .section-the-content {
        margin: 80px 0;
    }

    .section.full-thumbnail {
        min-height: calc(300px + 80px);
        padding: 80px 0;
        padding-bottom: calc(80px + 80px);
        display: flex;
        align-items: center;
        word-break: break-all;
        @include media-breakpoint-down(md){
            padding-bottom: calc(80px + 50px);
        }
        .bg-image {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            width: 100%;
            margin: 0;
            padding: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            &:after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                top: 0;
                left: 0;
                mix-blend-mode: multiply;
                background: $color-theme-1;
            }
        }
        .container.container-content {
            position: relative;
            z-index: 2;
            justify-content: center;
            text-align: center;
            .title-custom {
                justify-content: center;
                color: $white;
                &::before {
                    background: $white;
                }
            }
            .content-set {
                @extend .centered;
                max-width: 600px;
                color: $white;
            }
            .content {
                .btn {
                    display: block;
                    margin-top: calc(20px + 30px);
                }
                @include media-breakpoint-down(sm){
                    padding-top: 0;
                    padding-left: 0;
                }
            }
        }
        .the-wave {
            position: absolute;
            left: 0;
            bottom: -2px;
            .the-wave-path {
                fill: $white;
            }
        }
    }

    .section.section-simple-content {
        margin: 80px 0;
        .content-set {
            .btn {
                margin-top: 20px;
            }
        }
    }

    .section-team {
        padding: 80px 0;
        color: $white;
        background: $color-theme-1;//linear-gradient($white-1, $white);
        .container {
            .content-set {
                text-align: center;
            }
            .row {
                margin: 0 -10px;
                margin-top: 40px;
                .column {
                    padding: 10px;
                    .item {
                        height: 100%;
                        padding: 40px 20px;
                        text-align: center;
                        transition: $transition-5;
                        border-radius: 10px;
                        color: $black;
                        background: $white;
                        .photo {
                            width: 100px;
                            height: 100px;
                            margin: auto;
                            border-radius: 50%;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                        }
                        .name {
                            margin-top: 20px;
                            font-size: 16px;
                            font-weight: 900;
                        }
                        .description {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }

    .section-cta {
        padding: 80px 0;
        overflow: hidden;
        text-align: center;
        color: $white;
        background: $color-theme-1;
        .btn {
            margin-top: 20px;
        }
    }

    .section-card {
        padding: 80px 0;
        background: linear-gradient($white-1, $white);
        &.white {
            padding: 0;
            margin: 80px 0;
            background: $white;
        }
        .container {
            & .col-12 > .content-set {
                text-align: center;
            }
            .row {
                margin: 0 -10px;
                margin-top: 40px;
                .column {
                    padding: 10px;
                    .item {
                        position: relative;
                        height: 100%;
                        overflow: hidden;
                        transition: $transition-5;
                        border-radius: 10px;
                        box-shadow: 0px 5px 10px 0px mix($black,transparent, 4);
                        background: $white;
                        .photo {
                            position: relative;
                            width: 100%;
                            height: 200px;
                            margin: auto;
                            background-size: cover;
                            background-position: center;
                            background-repeat: no-repeat;
                            &::after {
                                content: "";
                                position: absolute;
                                height: 100%;
                                width: 100%;
                                top: 0;
                                left: 0;
                                mix-blend-mode: multiply;
                                background: $color-theme-1;//mix($white, transparent, 60);
                            }
                        }
                        .content-set {
                            padding: 20px;
                            .title {
                                font-size: 20px;
                                font-weight: 600;
                            }
                            .subtitle {
                                margin-top: 6px;
                                font-size: 12px;
                                opacity: .6;
                            }
                            .content {
                                margin-top: 14px;
                            }
                        }
                    }
                    a {
                        &:hover, &:focus {
                            .item {
                                box-shadow: 0 0 0 0 transparent;
                                background: mix($black, transparent, 10);
                                //box-shadow: 0px 0px 0px 3px $color-theme-1;
                            }
                        }
                    }
                }
            }
        }
    }

    .section.full-gmaps {
        position: relative;
        margin: 80px 0;
        .wrapper {
            position: relative;
            height: 500px;
            margin-top: 80px;
            iframe {
                height: 100%;
                width: 100%;
            }
        }
    }

    .section.section-full-gallery {
        overflow: hidden;
        padding-top: 80px;
        background: linear-gradient($white-1, transparent);
        .container {
            margin-bottom: 80px;
            .content-set {
                text-align: center;
            }
        }
        .gallery-native {
            margin: 0px;
            .column-img {
                overflow: hidden;
                padding: 0;
                a img {
                    transition: $transition;
                    transform: scale(1);
                    &:hover, &:focus {
                        transform: scale(1.2);
                    }
                }
            }
        }
    }
    